.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

.Items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Items > h3 {
  padding-left: 30px;
  font-weight: 400 !important;
}
